// src/css/plum-styles.scss
:root {
  /* Gradient Colors */
  --gradient-color-1: #33ac51;
  --gradient-color-2: #a3b4a7;
  --gradient-color-3: #6be289;
  --gradient-color-4: #a3b4a7;
  --gradient-color-5: #33ac51;

  /* Theme Colors */
  --primary-bg: var(--q-color-primary);
  --secondary-bg: var(--q-color-secondary);
  --accent-bg: var(--q-color-accent);
  --shadow-color: var(--q-shadow-color);
}

/* Text Gradient */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-gradient {
  background: linear-gradient(
    90.13deg,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3),
    var(--gradient-color-4),
    var(--gradient-color-5)
  );
  background-size: 200% 200%;
  animation: gradient-animation 5s infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Bright Green Theme */
.bright-green {
  background-color: #b2ff66 !important;
  --primary-bg: #b2ff66;
  --secondary-bg: #180b0b;
  --accent-bg: #180b0b;

  --login-bg: #091208;
  --shadow-color: rgba(0, 128, 0, 0.5);
  --gradient-color-1: #33cc33;
  --gradient-color-2: #66ff66;
  --gradient-color-3: #b2ffb2;
  --gradient-color-4: #80ffbf;
  --gradient-color-5: #009933;
}

/* Dark Green Theme */
.dark-green {
  background-color: #020c02 !important;
  --primary-bg: #020c02;
  --secondary-bg: #bbbbbb;
  --accent-bg: #bbbbbb;

  --login-bg: #111a11;
  --shadow-color: rgba(0, 55, 0, 0.712);
  --gradient-color-1: #004d00;
  --gradient-color-2: #006600;
  --gradient-color-3: #339966;
  --gradient-color-4: #669966;
  --gradient-color-5: #1a331a;
}

/* Bright Blue Theme */
.bright-blue {
  background-color: #66b3ff !important;
  --primary-bg: #66b3ff;
  --secondary-bg: #180b0b;
  --accent-bg: #180b0b;

  --login-bg: #2081b1;
  --shadow-color: rgba(0, 0, 128, 0.5);
  --gradient-color-1: #0066cc;
  --gradient-color-2: #66d9ff;
  --gradient-color-3: #33ccff;
  --gradient-color-4: #66b2ff;
  --gradient-color-5: #003366;
}

/* Dark Blue Theme */
.dark-blue {
  background-color: #000055 !important;
  --primary-bg: #000055;
  --secondary-bg: #bbbbbb;
  --accent-bg: #bbbbbb;
  --login-bg: #2b0249;
  --shadow-color: rgba(0, 0, 55, 0.5);
  --gradient-color-1: #1f3b4d;
  --gradient-color-2: #507aa3;
  --gradient-color-3: #a6c7e1;
  --gradient-color-4: #1c5471;
  --gradient-color-5: #0d1f33;
}

/* Bright Red Theme */
.bright-red {
  background-color: #ff6666 !important;
  --primary-bg: #ff6666;
  --secondary-bg: #180b0b;
  --accent-bg: #180b0b;

  --login-bg: #ffc2c2;
  --shadow-color: rgba(128, 0, 0, 0.5);
  --gradient-color-1: #ff4d4d;
  --gradient-color-2: #ff6666;
  --gradient-color-3: #ff9999;
  --gradient-color-4: #ffb3b3;
  --gradient-color-5: #660000;
}

/* Dark Red Theme */
.dark-red {
  background-color: #550000 !important;
  --primary-bg: #550000;
  --secondary-bg: #bbbbbb;
  --accent-bg: #bbbbbb;
  --login-bg: #330202;
  --shadow-color: rgba(55, 0, 0, 0.5);
  --gradient-color-1: #4d1a1a;
  --gradient-color-2: #802b2b;
  --gradient-color-3: #b33c3c;
  --gradient-color-4: #e65c5c;
  --gradient-color-5: #3b0d0d;
}

/* Bright Yellow Theme */
.bright-yellow {
  background-color: #ffff66 !important;
  --primary-bg: #ffff66;
  --secondary-bg: #180b0b;
  --accent-bg: #180b0b;
  --login-bg: #5250a5;
  --shadow-color: rgba(128, 128, 0, 0.5);
  --gradient-color-1: #ffd966;
  --gradient-color-2: #ffad33;
  --gradient-color-3: #ffa500;
  --gradient-color-4: #ff8000;
  --gradient-color-5: #e6b800;
}

/* Bright White Theme */
.bright-white {
  background-color: #ffffff !important;
  --primary-bg: #ffffff;
  --secondary-bg: #000000;
  --accent-bg: #000000;

  --login-bg: #9c9c9c;
  --shadow-color: rgba(128, 128, 0, 0.5);
  --gradient-color-1: #d9d9d9;
  --gradient-color-2: #ffffff;
  --gradient-color-3: #cccccc;
  --gradient-color-4: #ffffff;
  --gradient-color-5: #bfbfbf;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 0px var(--primary-bg);
  }
  50% {
    box-shadow: 0px 0px 20px 5px var(--primary-bg);
  }
  100% {
    box-shadow: 0px 0px 10px 0px var(--primary-bg);
  }
}

.bright-theme {
  &.bright-green,
  &.bright-blue,
  &.bright-red,
  &.bright-yellow {
    animation: pulse 2s infinite;
  }
}

.dark-theme {
  &.dark-green,
  &.dark-blue,
  &.dark-red {
    background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 10px,
      transparent 10px,
      transparent 20px
    );
    background-size: 200% 200%;
  }
}

@keyframes border-gradient {
  0% {
    border-image-source: linear-gradient(
      45deg,
      var(--gradient-color-1),
      var(--gradient-color-3)
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      var(--gradient-color-3),
      var(--gradient-color-1)
    );
  }
}

.animated-border {
  border: 4px solid;
  border-image-slice: 1;
  animation: border-gradient 3s linear infinite;
}

.shadow-hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 6px var(--shadow-color);

  &:hover {
    box-shadow: 0px 8px 16px var(--shadow-color);
  }
}

/* Component-specific styles */
.q-tab-panel,
.q-form,
.q-input,
.q-field,
.q-portal,
.q-card,
.q-avatar,
.q-table,
.q-table__card,
.plum-send-money-form-component {
  background-color: var(--primary-bg);
}

.q-tab-panels,
.narrow-indicator {
  background-color: var(--secondary-bg);
}

.q-btn__content,
.q-tab__label,
.q-item__label,
.q-input,
.q-card,
.q-scrollarea,
.q-toggle__label,
.q-icon {
  -webkit-text-fill-color: var(--secondary-bg);
}

.q-field__control,
.q-placeholder {
  -webkit-text-fill-color: var(--primary-bg);
}

.q-field__native,
.q-field__label,
.q-field__prefix,
.q-avatar {
  -webkit-text-fill-color: var(--accent-bg);
}
