:root {
  --primary-bg: var(--q-color-primary);
  --secondary-bg: var(--q-color-secondary);
  --shadow-color: var(--q-shadow-color);
}

.bright-green {
  background-color: #b2ff66 !important;
  --primary-bg: #b2ff66;
  --secondary-bg: #180b0b; // Update this as needed
  --shadow-color: rgba(0, 128, 0, 0.5);
}

.dark-green {
  background-color: #005500 !important;
  --primary-bg: #005500;
  --secondary-bg: #bbbbbb; // Update this as needed
  --shadow-color: rgba(0, 55, 0, 0.5);
}

.bright-blue {
  background-color: #66b3ff !important;
  --primary-bg: #66b3ff;
  --secondary-bg: #180b0b; // Update this as needed
  --shadow-color: rgba(0, 0, 128, 0.5);
}

.dark-blue {
  background-color: #000055 !important;
  --primary-bg: #000055;
  --secondary-bg: #bbbbbb; // Update this as needed
  --shadow-color: rgba(0, 0, 55, 0.5);
}

.bright-red {
  background-color: #ff6666 !important;
  --primary-bg: #ff6666;
  --secondary-bg: #180b0b; // Update this as needed
  --shadow-color: rgba(128, 0, 0, 0.5);
}

.dark-red {
  background-color: #550000 !important;
  --primary-bg: #550000;
  --secondary-bg: #bbbbbb; // Update this as needed
  --shadow-color: rgba(55, 0, 0, 0.5);
}

.bright-yellow {
  background-color: #ffff66 !important;
  --primary-bg: #ffff66;
  --secondary-bg: #180b0b; // Update this as needed
  --shadow-color: rgba(128, 128, 0, 0.5);
}

// Component-specific styles
.q-tab-panel,
.q-form,
.q-input,
.q-field,
.q-portal,
.q-card,
.plum-send-money-form-component {
  background-color: var(--primary-bg);
}
.q-tab-panels {
  background-color: var(--secondary-bg);
}
.q-field__control,
.q-btn__content,
.q-tab__label,
.q-item__label,
.q-input,
.q-toggle__label,
.q-icon {
  -webkit-text-fill-color: var(--secondary-bg);
}

.q-placeholder {
  -webkit-text-fill-color: var(--primary-bg);
}
.q-field__native,
.q-field__prefix {
  -webkit-text-fill-color: var(--accent-bg);
}

.table-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #acdbbe;
  color: #333;
}

.custom-table tbody tr:hover {
  background-color: #f9f9f9;
}

.text-brand {
  color: var(--q-info);
}

.text-gradient {
  background: linear-gradient(
    90.13deg,
    #33ac51,
    #a3b4a7,
    #6be289,
    #a3b4a7,
    #33ac51
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
